<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
  </head>

  <body>
    <div id="fruit">
      <h1>Fruit Bucket</h1>
      <input type="text" placeholder="Enter Fruits" v-model="newfruits" />
      <button @click="addFruits">+</button>

      <!-- v-if and v-else should be adjacent -->

      <p v-if="fruits.length===0">no fruits in the buckect add some</p>

      <ul v-else>
        <li
          v-for="(fruit,index) in fruits"
          :key="index"
          @click="removeFruits(index)"
        >
          {{index}}:{{fruit}}
        </li>
      </ul>
    </div>
    <script src="./app.js"></script>
  </body>
</html>
